schema/eventHookStatic.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate eventHookStatic directives -->

  <xs:element name="eventHookStatic">
    <xs:complexType>
      <xs:all>
        <xs:element name="callWith" type="xs:string" minOccurs="0"/>
        <xs:element name="onReturn" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
