schema/objectBuilder.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate objectBuilder directives -->

  <xs:element name="objectBuilder" type="xs:string">
    <xs:attribute name="class"  use="required"/>
    <xs:attribute name="name"   use="required"/>
    <xs:attribute name="source" use="required"/>
    <xs:attribute name="copy"                 />
  </xs:element>
  
</xs:schema>
